$earth_asset: 'https://cdn.pixellini.com/astronauts/earth.png';
$astronaut_asset: 'https://cdn.pixellini.com/astronauts/astronaut.png';

// Mixin
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Styles
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #0a081c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow: hidden;
}

#earth {
  @include center;
  height: 200px;
  width: 200px;
  background: url($earth_asset);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

#stars {
  z-index: 1;

  .star {
    --star-color: white;

    position: absolute;
    opacity: 0.8;
    z-index: -2;
    animation-name: twinkle;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  
    &:before,
    &:after {
      content: ' ';
      position: absolute;
      top: 50%;
      left: 50px;
      transform: translate(-50%, -50%);
      background: var(--star-color);
    }
  
    // Sizes
    --star-length: 1px;
    // --star-width: 3px;
    &:before {
      height: var(--star-length);
      width: var(--star-length);
    }
    
    &:after {
      height: var(--star-length);
      width: var(--star-length);
    }

    &.medium {
      --star-length: 2px;
    }

    &.large {
      --star-length: 3px;
    }

    // Colors
    &.yellow {
      --star-color: #fcf1a9;
    }

    &.blue {
      --star-color: #a2c6f9;
    }
  }
}

.astronaut {
  $size: 40px;

  height: $size;
  width: $size;
  position: absolute;
  top: 0;
  left: 0;
  background: url($astronaut_asset);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 9999;
  padding: 10px;
  animation-name: rotate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;

  &-container {
    @include center;
    z-index: 9999;
    animation-name: rotate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  &-details {
    position: absolute;
    background: white;
    width: auto;
    visibility: visible;
    transition: all 0.5s ease;
    animation-name: rotate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    z-index: 9999;
  }
}

// UTILS
.container {
  @include center;
  z-index: 1;
}

.center {
  @include center;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}

// ANIMATIONS
@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes twinkle {
  0%, 30%, 70%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}